.profile {
  color: var(--color-primary);
}
.profile_top {
  margin-top: 56px;
  box-shadow: 0 1px 2px var(--shadow-1);
  background: var(--bg-primary);
}
.profile_container {
  max-width: 945px;
  margin: 0 auto;
}
.profile_cover {
  position: relative;
  height: 350px;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: var(--bg-secondary);
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.udpate_cover_wrapper {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.open_cover_update {
  background: #fff;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border-radius: 10px;
  cursor: pointer;
}
.open_cover_update i {
  transform: scale(0.9);
  margin-top: 4px;
}
.open_cover_menu {
  background: var(--bg-primary);
  position: absolute;
  right: 0;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 px var(--shadow-inset);
  z-index: 99;
}
.open_cover_menu_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
}
.profile_img_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: -2.8rem;
}
.profile_w_left {
  display: flex;
  gap: 1rem;
  padding: 1rem 13px 0 13px;
}
.profile_w_img {
  position: relative;
}
.profile_w_bg {
  width: 180px;
  height: 180px;
  transform: translateY(-3.6rem);
  border-radius: 50%;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  background: #fff;
  cursor: pointer;
}
.profile_w_bg:hover {
  filter: brightness(95%);
}
.profile_circle {
  position: absolute;
  bottom: 4.5rem;
  right: 0.55rem;
  background: var(--bg-third);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.profile_name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 32px;
}

/*--Menu-------*/
.profile_menu_wrap {
  position: relative;
  padding: 0 2.2rem;
}
.profile_menu {
  position: relative;
  border-top: 1px solid var(--border-color);
  display: flex;
  padding: 0;
}
.profile_menu a {
  height: 54px;
  width: 50%;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 3px 0;
  color: var(--color-secondary);
}
.profile_menu_active {
  height: 60px !important;
  margin: 0 !important;
  color: var(--blue-color) !important;
  border-bottom: 3px solid var(--blue-color);
  border-radius: 0 !important;
}
/*--Menu-------*/
.profile_bottom {
  margin-top: 1px;
  background: var(--bg-secondary);
}
.bottom_container {
  padding: 10px 2.2rem;
}
.profile_grid {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 10px;
}
.othername {
  color: var(--color-secondary);
  font-size: 20px;
}
.no_posts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-secondary);
}
/*--Menu-------*/
/*-----profile card--------*/
.profile_card {
  background: var(--bg-primary);
  border-radius: 10px;
  box-shadow: 0 1px 2px var(--shadow-1);
  padding: 10px 15px;
  margin-top: 15px;
}
.profile_card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}
/* .profile_header_link {
  font-weight: normal;
  font-size: 16px;
  color: var(--blue-color);
  cursor: pointer;
  padding: 5px 10px;
}
.profile_header_link:hover {
  background: var(--bg-secondary);
} */
.profile_card_count {
  color: var(--color-secondary);
}
.profile_card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.profile_photo_card {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.profile_photo_card img {
  width: 100%;
  height: 105px;
  object-fit: cover;
  border-radius: 10px;
}
/*-----profile card--------*/
.flex {
  display: flex;
  gap: 10px;
}
