.left_bar_container {
  position: fixed;
  margin-top: 80px;
  left: 0;
  height: calc(100vh - 80px);
  width: 290px;
  overflow-y: auto;
  color: var(--color-primary);
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--wtheme-primary);
  /* box-shadow: 0 12px 12px var(--shadow-1); */
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
}
.left_wrapper {
  width: 95%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0px;
}
.left_bar_container .left_wrapper .first,
.second,
.third {
  box-shadow: var(--wtheme-shadow1);
  border-radius: 20px;
  position: relative;
  flex-shrink: 0;
  width: 205px;
  padding-left: 10px;
}

.left_bar_container .left_wrapper .first {
  height: 90px;
}

.layout_tabs {
  width: 80%;
  height: 60px;
  position: relative;
  display: flex;
  /* margin-top: 5px; */
  align-items: center;
  flex-shrink: 0;
}
.layout_tabs:first-of-type {
  border-radius: 20px 20px 0 0;
  margin-top: 10px;
}
.layout_tabs:last-of-type {
  border-radius: 0 0 20px 20px;
  margin-bottom: 10px;
}
.layout_tabs svg {
  /* width: 20px; */
  fill: rgb(118, 114, 114);
  margin-left: 20px;
  height: 22px;
}
.layout_tabs span {
  font-family: inherit;
  font-size: 15px;
  transform: translateY(3px);
  margin-left: 20px;
  /* font-weight: 900; */
  color: rgb(118, 114, 114);
}

.profile_box_left {
  display: flex;
  align-items: center;
  /* width: 100%; */
  height: 100%;
  gap: 8px;
}
.profile_box_left img {
  width: 60px;
  /* height: 65%; */
  border-radius: 20px;
  /* margin: 0 10px 0 11px; */
  /* transform: translateY(2px); */
}
.name_profession_wrapper {
  width: 100%;
}
.name_profession_wrapper .name {
  font-family: inherit;
  font-size: 15px;
  /* font-weight: 600; */
  color: dimgrey;
  transform: translateY(-4px);
}
.name_profession_wrapper .profession {
  font-family: inherit;
  font-size: 14px;
  color: grey;
  display: flex;
  gap: 10px;
  align-items: center;
}
.active_green {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: green;
  /* transform: translateY(-); */
}
