.left_bar_container {
  position: fixed;
  margin-top: 80px;
  left: 6px;
  height: calc(100vh - 80px);
  width: 290px;
  overflow-y: auto;
  color: var(--color-primary);
  user-select: none;
  background-color: var(--bg-primary);
  /* box-shadow: 0 12px 12px var(--shadow-1); */
  /* background: linear-gradient(
      -45deg,
      #3f51b1 0%,
      #5a55ae 13%,
      #7b5fac 25%,
      #8f6aae 38%,
      #a86aa4 50%,
      #cc6b8e 62%,
      #f18271 75%,
      #f3a469 87%,
      #f7c978 100%
    );
    animation: animate 7.5s ease-in-out infinite; */
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
}
.left_wrapper {
  width: 90%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex-shrink: 0px;
}
.left_bar_container .left_wrapper .first,
.second,
.third {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 24px;
  position: relative;
  flex-shrink: 0;
  width: 205px;
  padding-left: 10px;
}
.left_bar_container .left_wrapper .first {
  margin-top: 20px;
  height: 90px;
}
/* .left_bar_container .left_wrapper .second {
  height: 280px;
} */
/* .left_bar_container .left_wrapper .third {
  height: 130px;
} */

.layout_tabs {
  width: 80%;
  height: 60px;
  position: relative;
  display: flex;
  /* margin-top: 5px; */
  align-items: center;
  flex-shrink: 0;
}
.layout_tabs:first-of-type {
  border-radius: 20px 20px 0 0;
  margin-top: 10px;
}
.layout_tabs:last-of-type {
  border-radius: 0 0 20px 20px;
  margin-bottom: 10px;
}
.layout_tabs svg {
  /* width: 20px; */
  fill: rgb(118, 114, 114);
  margin-left: 20px;
  height: 22px;
}
.layout_tabs span {
  font-family: inherit;
  font-size: 15px;
  transform: translateY(3px);
  margin-left: 20px;
  /* font-weight: 900; */
  color: rgb(118, 114, 114);
}

.profile_box_left {
  display: flex;
  align-items: center;
  /* width: 100%; */
  height: 100%;
  gap: 8px;
}
.profile_box_left img {
  width: 60px;
  /* height: 65%; */
  border-radius: 20px;
  /* margin: 0 10px 0 11px; */
  /* transform: translateY(2px); */
}
.name_profession_wrapper {
  width: 100%;
}
.name_profession_wrapper .name {
  font-family: inherit;
  font-size: 15px;
  /* font-weight: 600; */
  color: dimgrey;
  transform: translateY(-4px);
}
.name_profession_wrapper .profession {
  font-family: inherit;
  font-size: 14px;
  color: grey;
  display: flex;
  gap: 5px;
  align-items: center;
}
.active_green {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: green;
  transform: translateY(-2px);
}
