.page_container {
  position: fixed;
  margin-top: 80px;
  left: 290px;
  right: 290px;
  /* height: calc(100vh - 80px);
    width: calc(100vh - 336px); */
  overflow-y: auto;
  color: var(--color-primary);
  user-select: none;
  background-color: var(--bg-primary);
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100%;
  z-index: 999999999;
}
/* .chat_container {
  position: fixed;
  margin-top: 80px;

  height: calc(100vh - 80px);
  color: var(--color-primary);
  -webkit-user-select: none;
  user-select: none;
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  width: inherit;
  z-index: 999999999;
  padding: 25px;
  border-radius: 20px;
} */
.home_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.posts_wrapper {
  margin-top: 28px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transform: translateX(-50%); */
}
