.profile_box {
  /* background-color: blue; */
  height: 350px;
  margin-top: 26px;
  display: flex;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  /* padding: 23px; */
  border-radius: 20px;
}
.profile_pic_container {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.profile_pic_container img {
  border-radius: 35%;
  width: 70%;
}
.profile_data_container {
  /* background-color: red; */
  height: 100%;
  width: 65%;
  display: flex;
  align-items: center;
}
.profile_data_container .data_wrap {
}
.profile_name_edit {
  height: 40px;
  /* width: 90%; */
  display: flex;
  justify-content: space-between;
}
.profile_name_edit span {
  font-family: inherit;
  font-size: 25px;
  font-weight: 600;
  color: dimgrey;

  /* transform: translateY(-4px); */
}

.profile_name_edit button {
  width: 100px;
  height: 29px;
  margin-right: 30px;
  border: none;
  font-size: 15px;
  font-family: inherit;
  border-radius: 15px;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
}
.follow_count {
  height: 40px;
  width: 43%;
  /* margin: auto; */
  /* margin-top: 15px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: wheat; */
}
.follow_count pre {
  font-family: inherit;
  font-size: 17px;
}

.bio_wrap {
  /* height: 40px; */
  width: 80%;
  /* margin: auto; */
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: wheat; */
}
.bio_wrap .bio {
  height: 80px;
  display: flex;
  align-items: center;
}

.edit_dp_btn {
  cursor: pointer;
  width: 30px;
  /* height: 42px; */
  padding: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-third);
  position: absolute;
  right: 44px;
  bottom: 110px;
}
.edit_dp_btn i {
  transform: scale(0.7);
}
.crop_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid var(--bg-third);
}
.crop_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  min-height: 228px;
  width: 500px;
  border-radius: 20px;
}
.update_img {
  width: 700px !important;
  height: 510px !important;
}
.crop_div {
  position: relative;
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.crooper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
}
.crooper img {
  width: 100%;
  object-fit: contain;
  border-radius: 0;
}
.update_img .reactEasyCrop_CropAreaGrid {
  width: 300px !important;
  height: 300px !important;
  color: rgba(255, 255, 255, 0.5);
}
.p_following_icon{
  width: 10px;
}
