header {
  position: fixed;
  top: 0;
  height: 56px;
  z-index: 9999999999999;
  background: var(--bg-primary);
  width: 100%;
  box-shadow: 1px 8px 15px -7px var(--shadow-2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-primary);
}

/* header left */
.header_left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.circle img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px 20px;
}
.search {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--bg-forth);
  padding: 10px 32px 10px 10px;
  border-radius: 50px;
  cursor: text;
}
.search input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 15px;
  font-family: inherit;
}
.search input::placeholder {
  transform: translateY(-1px);
}
/* header left */

.search_area {
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
  background: var(--bg-primary);
  box-shadow: 0 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  min-height: 400px;
  max-height: 70vh;
  padding: 8px 16px 10px 6px;
}
.search_wrap {
  display: flex;
  align-items: center;
  gap: 6px;
}
.search_area .search {
  padding: 10px 44px 10px 12px;
  width: 252px;
  gap: 4px;
}
.search_area .search input {
  padding-left: 4px;
}
.search_area .search svg {
  transform: translateY(1px);
}
.search_area .search input::placeholder {
  transform: translateY(-2px);
}
.search_area .search input:focus::placeholder {
  transform: translateY(-1px);
}
