.gallery_container {
  position: fixed;
  margin-top: 80px;
  left: 290px;
  right: 290px;
  overflow-y: auto;
  color: var(--color-primary);
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--wtheme-primary);
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100%;
  z-index: 999999999;
}

.gallery_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  margin-bottom: 75px;
  background-color: var(--wtheme-primary);
}
@media all and (max-width: 768px) and (min-width: 320px) {
 .gallery_container{
  left: 0;
  right: 0;
 }
}
